<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="SiteURl" value="http://localhost:63685/KzUber/" />
  </appSettings>
  <connectionStrings>    
    <add name="ConnectionString" connectionString="server=52.10.23.171; uid=Devdutta; pwd=DW40k#MP0AGb$hTD; Database=ITKTS;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="900000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="UberIntegration.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>